# Git
.git
.gitignore

# Python
**/__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Environments & Secrets
.env
.venv
env/
venv/
auth.json
secrets.yaml

# Data & Output (Optional)
output/
# data/   if you ALWAYS mount it
